.cl1
{
    background-color: rgb(18, 6, 128);
    text-align: center;
    color: rgb(190, 211, 190);
}
.cl2
{
    background-color:black;
    text-align: center;
    color:white;
}
.cl3
{
    background-color: blue;
    text-align: center;
    color: brown;
}
#ii
{
    background-color:rgb(10, 91, 51);
    color:black;
}
