.cl1
{
    background-color: rgb(18, 6, 128);
    text-align: center;
    color: rgb(190, 211, 190);
}
.cl2
{
    background-color:black;
    text-align: center;
    color:white;
}
.cl3
{
    background-color: rgb(26, 29, 8);
    text-align: center;
    color: rgb(235, 225, 225);
}
#ii
{
    background-color:rgb(69, 171, 120);
    color:black;
}
.imgcls
{

}
.btn
{
    background-color: blue;
    color: chocolate;
}
#audio
{
    
}
